<html>
    <head>
        <title>Klimatyzacja</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    </head>
    <body>
        <h2>Klimatyzacja</h2>
        <p>Obecna pogoda: {{weather_description}}</p>
        <p>Obecna temperatura: {{temperature}} °C</p>
        <p>Obecna wilgotność: {{humidity}} %</p>
        {% block content %}
        {% endblock %}
    </body>
</html>